header {
    margin-top: 5px;
}

#main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}

#logo {
    height: 90px;
    justify-content: right;
    margin-top: 5px;
    padding-top: 5px;
}
